<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-md-12 panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label for="filter">Оноор шүүх</label>
                    <select id="filter" data-ng-model="filter.year" ng-change="getYear();" class="form-control">
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <highchart id="chart1" config="chart">
                    </highchart>
                </div>
            </div>
        </div>
    </div>
</section>
