<section data-ng-controller="InvoiceDebitController" data-ng-init="find()">
  <div class="page-header">
    <h1>Бэлэн бүтээгдэхүүний зарлагын загсаалт</h1>
  </div>
  <table class="table table-bordered">
    <thead class="">
      <td>Нэр</td>
      <td>Хэмжигдэхүүн</td>
      <td>Тоо хэмжээ</td>
      <td>Мөнгөн дүн</td>
      <td>Нийт мөнгөн дүн</td>
      <td>Төлбөрийн төрөл</td>
      <td>Төлбөр төлсөн эсэх</td>
      <td>Тайлбар</td>
      <td>Орлого хийсэн өдөр</td>
      <td>Засах</td>
      <td>Устгах</td>
    </thead>
    <tbody>
    <tr class="list-group" data-ng-repeat="material in invoiceDebits">
      <td>{{material.product.name}}</td>
      <td>{{material.unit.name}}</td>
      <td>{{material.qty}}</td>
      <td>{{material.amount}}</td>
      <td>{{material.amount * material.qty}}</td>
      <td>{{getInvTypeName(material.invType)}}</td>
      <td>{{material.isPayment == true ? 'Төлсөн':'Төлөгдөөгүй'}}</td>
      <td>{{material.description}}</td>
      <td>{{material.date | date:'yyyy/MM/dd'}}</td>
      <td><a class="btn btn-primary" data-ui-sref="rawMaterialDebit.edit({id: material._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
        </td>
      <td>
        <a class="btn btn-primary" data-ng-click="remove(material);">
          <i class="glyphicon glyphicon-trash"></i>
        </a></td>
      </td>
    </tr>
    </tbody>
  </table>
</section>
