<section data-ng-controller="InvMaterialCreditController" data-ng-init="findTotal()">
    <div class="page-header">
        <h1>Бэлэн бүтээгдэхүүний орлого үүсгэх</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="date">Огноо</label>
                <div class="controls" data-ng-init="dp.opened = false">
                    <p class="input-group">
                        <input type="text" id="date" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="date" is-open="dp.opened"  datepicker-options="yyyy-MM-dd" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="dp.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="product">Бэлэн бүтээгдэхүүний нэр</label>

                <div class="controls">
                    <select class="form-control" data-ng-model="product" id="product" ng-options="p.name for p in products track by p._id"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="punit">Жин</label>

                <div class="controls">
                    <select class="form-control" data-ng-model="punit" id="punit" ng-options="u.name for u in units track by u._id"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="pqty">Тоо ширхэг</label>

                <div class="controls">
                    <input  class="form-control"type="number" data-ng-model="pqty" id="pqty" placeholder="Тоо ширхэг">
                </div>
            </div>
        </div>
    </div>
    <span>Бүтээгдэхүүний орц</span>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="material">Бүтээгдэхүүн</label>

                            <div class="controls">
                                <select class="form-control" data-ng-model="type" id="material" ng-options="type.name for type in types track by type._id">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="unit">Жин</label>

                            <div class="controls">
                                <select id="unit" data-ng-model="unit" ng-options="u.name for u in units track by u._id" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label" for="qty">Тоо ширхэг</label>

                            <div class="controls">
                                <input type="number" data-ng-model="qty" class="form-control" id="qty">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="controls">
                                <label class="control-label" for="add">нэмэх</label>
                                <button class="form-control" id="add" data-ng-click="invMaterialAdd(type,unit,qty)">Нэмэх</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Бүтээгдэхүүн</td>
            <td>Жин</td>
            <td>Тоо ширхэг</td>
            <td>Засах</td>
            <td>Устгах</td>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="material in invMaterialsCreate">
                <td>{{material.materialType.name}}</td>
                <td>{{material.unit.name}}</td>
                <td>{{material.qty}}</td>
                <td>
                    <a class="btn btn-primary" data-ng-click="createEdit(material);">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" data-ng-click="createRemove($index,material);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button data-ng-click="create();">Нэгтгэх</button></td>
        </tr>
        </tfoot>
    </table>
</section>
