<section data-ng-controller="InvMaterialCreditController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Материалын төрөл засах</h1>
  </div>
  <div class="col-md-4">
    <form name="articleForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="date">Огноо</label>
          <div class="controls">
            <!--<uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>-->
            <input name="name" type="date" data-ng-model="rawMaterialDebit.date | date:'yyyy/mm/dd'" id="date" class="form-control" placeholder="Огноо">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="materialType">Түүхий эд</label>
          <div class="controls">
            <select name="materialType" type="datetime" data-ng-model="rawMaterialDebit.materialType._id" id="materialType" class="form-control" placeholder="Түүхий эд">
              <option data-ng-repeat="type in materialTypes" value="{{type._id}}">{{type.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="qty">Хэмжээ</label>
          <div class="controls">
            <input name="qty" type="number" data-ng-model="rawMaterialDebit.qty" id="qty" class="form-control" placeholder="Хэмжээ"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="amount">Мөнгөн дүн</label>
          <div class="controls">
            <input name="amount" type="number" data-ng-model="rawMaterialDebit.amount" id="amount" class="form-control" placeholder="Мөнгөн дүн"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="description">Тайлбар</label>
          <div class="controls">
            <input name="description" type="text" data-ng-model="rawMaterialDebit.description" id="description" class="form-control" placeholder="Тайлбар"/>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="unit">Хэмжих нэгж</label>
          <div class="controls">
            <select name="unit" data-ng-model="rawMaterialDebit.unit" id="unit" class="form-control" placeholder="Хэмжих нэгж">
              <option value="Кг">Кг</option>
              <option value="Тн">Тн</option>
              <option value="Ш">Ш</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
