<section data-ng-controller="InvMaterialCreditController" data-ng-init="find()">
    <div class="page-header">
        <h1>Түүхийн эдийн орлогын жагсаалт</h1>
    </div>
    <table class="table table-bordered">
        <thead class="" style="font-weight: bold">
        <td>Задаргаа</td>
        <td>Орлого хийсэн өдөр</td>
        <td>Бүтээгдэхүүний нэр</td>
        <td>Хэмжих нэгж</td>
        <td>Тоо хэмжээ</td>
        <td>Устгах</td>
        </thead>
        <tbody data-ng-repeat="material in rawMaterialDebits" data-ng-init="items_display=[];indexx = $index">
        <tr class="list-group" ng-class="{success: items_display[indexx] == true}" data-ng-click="items_display[indexx] = !items_display[indexx]">
            <td>
                <span data-ng-hide="items_display[indexx]">+</span>
                <span data-ng-show="items_display[indexx]">-</span>
            </td>
            <td>{{material.date | date:'yyyy/MM/dd'}}</td>
            <td>{{material.product.name}}</td>
            <td>{{material.unit.name}}</td>
            <td>{{material.qty}}</td>
            <td>
                <a class="btn btn-primary" data-ng-click="remove(material);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a></td>
            </td>
        </tr>
        <tr  ng-class="{success: items_display[indexx] == true}" style="font-weight: bold" data-ng-show="items_display[indexx]">
            <td></td>
            <td>
                Материалын төрөл
            </td>
            <td>Хэмжих нэгж</td>
            <td>Тоо хэмжээ</td>
        </tr>
        <tr  ng-class="{success: items_display[indexx] == true}" data-ng-show="items_display[indexx]" data-ng-repeat="measure in material.measure">
            <td>№ {{$index+1}}</td>
            <td>{{measure.materialType.name}}</td>
            <td>{{measure.unit.name}}</td>
            <td>{{measure.qty}}</td>
        </tr>
        </tbody>
    </table>
    <pagination boundary-links="true" max-size="8" items-per-page="pageLimit" total-items="pageTotal" ng-model="page" ng-change="pageChanged(page)"></pagination>
</section>
