<section data-ng-controller="RawMaterialTotalController" data-ng-init="findTotal()">
    <div class="page-header">
        <h1>Түүхийн эдийн нийт үлдэгдэл клограммаар</h1>
    </div>
    <table class="table table-bordered">
        <thead class="">
        <td>Нэр</td>
        <td>Үлдэгдэл тоо хэмжээ</td>
        </thead>
        <tbody>
        <tr class="list-group" data-ng-repeat="m in totalMaterials">
            <td>{{m.name}}</td>
            <td>{{m.qty}}-Кг</td>
        </tr>
        </tbody>
    </table>
</section>
